<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" 
        xmlns:gap="http://phonegap.com/ns/1.0" 
        id="com.sap.app" 
        version="1.0.0">
    
    <name>SAP App</name>
    <description>SAP Mobile Application</description>
    <author>Your Name</author>
    
    <preference name="orientation" value="portrait" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="false" />
    
    <feature name="http://api.phonegap.com/1.0/network" />
    
    <access origin="*" />
    
    <platform name="android">
        <preference name="android-minSdkVersion" value="22" />
        <preference name="android-targetSdkVersion" value="33" />
    </platform>
    
    <engine name="android" spec="~10.1.1" />
</widget>
